header {
  background-color: var(--primary-color);
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &,
  ul {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    justify-content: center;
    align-items: center;
  }

  ul {
    li {
      margin-left: 30px;
      list-style: none;

      &,
      a {
        color: var(--text-menu);
        text-decoration: none;
      }
    }

    li:hover {
      a {
        color: var(--text-menu-hover);
      }
    }
  }
}

.hidden {
  display: none;
}

.header__ul {
  width: 100%;
}

.header__toggle {
  margin-right: 30px;
}

.mat-tooltip {
  background-color: var(--mat-sys-inverse-surface);
}

.header__ul__last button {
  color: var(--icon-color);
  background-color: var(--background-icon-color);
  border-radius: 100px;
  padding: 3px;
  display: none;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--background-icon-color-hover);
  }
}
