@media (max-width: 770px) {
  .header__toggle {
    display: none;
  }

  .header__ul__last button {
    display: flex;
  }

  .header__ul ul {
    justify-content: space-around;
    padding-right: 20px;
  }
}

@media (max-width: 700px) {
  .header__ul ul li {
    margin-left: 20px;
  }
}

@media (max-width: 630px) {
  .header__ul ul li {
    font-size: 22px;
  }

  .header__ul__last button {
    transform: scale(0.9);
    margin-left: 10px;
  }
}

@media (max-width: 570px) {
  .header__ul ul li {
    font-size: 20px;
  }

  .header__ul__last button {
    transform: scale(0.8);
  }
}

@media (max-width: 540px) {

  .header__ul ul {
    padding-left: 20px;
  }

  .header__ul ul li {
    margin-left: 5px;
    font-size: 18px;
  }

  .header__ul__last button {
    transform: scale(0.7);
  }
}

@media (max-width: 430px) {
  .header__ul ul li {
    font-size: 15px;
  }
}

@media (max-width: 370px) {
  .header__ul ul li {
    font-size: 14px;
  }
}
