  .container__big-card {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(0);
    opacity: 0;
    animation: scale-up2 1s ease-in-out forwards;
  }

  .big-card__image img {
    width: 100%;
    height: auto;
    object-fit: contain;

    &:hover {
      box-shadow: var(--card-box-shadow);
      transform: scale(0.99);
    }
  }

  .big-card__content h1 {
    color: var(--big-card-h1-color);
    font-size: 37px;
    margin-bottom: 2px;
    margin-top: 10px;

    &:hover {
      color: var(--text-menu-hover2);
    }
  }

  .big-card__content a {
    text-decoration: none;
  }

  .big-card__content p {
    color: var(--big-card-p-color);
    font-size: 20px;

    &:hover {
      color: var(--text-menu-hover);
    }
  }

  .hr-768 {
    display: none;
    margin-top: 20px;
    border: 1px solid var(--hr2-color);
    width: 100%;
    animation: expand-horizontally 1s ease-in-out forwards;
  }
