@media (max-width: 1200px) {
  .menu-title img {
    margin-right: 850px;
    margin-top: -67px;
    width: 300px;
    height: 300px;
  }

  .title {
    transform: scale(0.9);
    margin-top: -10px;
  }

  .hr_bottom {
    margin-top: -10px;
  }
}

@media (max-width: 1090px) {
  .menu-title img {
    margin-right: 820px;
    margin-top: -57px;
    width: 280px;
    height: 280px;
  }

  .title {
    transform: scale(0.85);
    margin-top: -15px;
  }

  .hr_bottom {
    margin-top: -15px;
  }
}

@media (max-width: 990px) {
  .menu-title img {
    margin-right: 730px;
    margin-top: -27px;
    width: 240px;
    height: 240px;
  }

  .title {
    transform: scale(0.8);
    margin-top: -20px;
  }

  .hr_bottom {
    margin-top: -20px;
  }
}

@media (max-width: 875px) {
  .menu-title img {
    margin-right: 600px;
    margin-top: -17px;
    width: 210px;
    height: 210px;
  }

  .title {
    transform: scale(0.7);
    margin-top: -30px;
  }

  .hr_bottom {
    margin-top: -30px;
  }

}

@media (max-width: 730px) {
  .menu-title img {
    margin-right: 500px;
    margin-top: -17px;
    width: 200px;
    height: 200px;
  }

  .title {
    transform: scale(0.65);
    margin-top: -35px;
  }

  .hr_bottom {
    margin-top: -35px;
  }
}

@media (max-width: 630px) {
  .menu-title img {
    margin-right: 450px;
    margin-top: -17px;
    width: 190px;
    height: 190px;
  }

  .title {
    transform: scale(0.6);
    margin-top: -40px;
  }

  .hr_bottom {
    margin-top: -40px;
  }
}

@media (max-width: 570px) {
  .menu-title img {
    margin-right: 330px;
    margin-top: -17px;
    width: 180px;
    height: 180px;
  }

  .title {
    transform: scale(0.35);
    margin-top: -45px;
  }

  .hr_bottom {
    margin-top: -45px;
  }
}

@media (max-width: 543px) {
  .menu-title img {
    margin-right: 330px;
    margin-top: -17px;
    width: 150px;
    height: 150px;

  }

  .title {
    transform: scale(1);
    margin-top: 0px;
  }

  .title h1 {
    transform: scale(1);
    font-size: 50px;
    margin-bottom: 10px;
  }

  .title h2 {
    transform: scale(1);
    font-size: 25px;
  }

  .hr_bottom {
    margin-top: 0px;
  }
}

@media (max-width: 430px) {
  .menu-title img {
    margin-right: 280px;
    margin-top: -11px;
    width: 130px;
    height: 130px;
  }

  .title h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .title h2 {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .menu-title img {
    margin-right: 250px;
    margin-top: -14px;
    width: 120px;
    height: 120px;
  }

  .title h1 {
    font-size: 35px;
  }

  .title h2 {
    font-size: 15px;
  }
}
