  .menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--h1-color);
    position: relative;
    width: 99.9vw;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-title img {
    position: absolute;
    width: 310px;
    height: 310px;
    z-index: 1000;

    margin-right: 900px;
    margin-top: -57px;
    transform: scale(0);
    opacity: 0;
    animation: scale-up 1s ease-in-out 0.1s forwards;
  }


  .hr_top {
    border: 1px solid var(--hr-color);
    width: 100%;
    animation: reveal-left-to-right 1s ease-in-out forwards;
  }

  .hr_bottom {
    border: 1px solid var(--hr-color);
    width: 100%;
    animation: reveal-right-to-left 1s ease-in-out forwards;
  }

  .menu-title h1 {
    font-size: 125px;
    margin-top: 20px;
    font-family: "brush-script-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: fade-in 2s ease-in-out forwards;
  }

  .menu-title h2 {
    margin-top: -20px;
    transform: scaleY(0.8);
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 30px;
    animation: fade-in 2s ease-in-out forwards;
  }
