<div class="container__content">

  <div class="content__left">
    <div (click)="goBack()" class="voltar">
      <i class="material-icons">arrow_back_ios_new</i>
      <span>voltar</span>
    </div>

    <div class="content__image">
      <img [src]="cover" alt="{{ alt }}">
    </div>
  </div>

  <div class="content__right">
    <h1>{{ title }}</h1>
    <div [innerHTML]="description" class="description"></div>

    <button *ngIf="type === 'diversity'" (click)="goToLink()" class="diversityButton" >Acesse mais informações</button>
    <div *ngIf="type === 'github'" class="githubButton">
      <button (click)="goToLink()">Acesse o site</button>
      <button (click)="goToGitHub()">GitHub do projeto</button>
    </div>
  </div>
</div>
