  .container__content {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .content__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    animation: fade-in 1s ease-in-out forwards;
    background-color: var(--big-card-background-color);
    background-image: linear-gradient(to left, var(--body) 70%, var(--big-card-background-color) 100%);
  }

  .voltar {
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: var(--big-card-p-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--text-menu-hover);
      margin-left: 1px;
    }
  }

  .voltar i.material-icons {
    font-size: 1em;
  }

  .content__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
  }

  .content__image img {
    object-fit: contain;
    height: auto;
    width: 100%;
    animation: reveal-left-to-right 0.7s ease-in-out forwards;
  }

  .content__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    padding: 34px;
    background-color: var(--big-card-background-color);
    background-image: radial-gradient(circle, var(--body) 50%, var(--big-card-background-color) 100%);
    animation: fade-in 1s ease-in-out forwards;
  }

  .content__right h1 {
    margin-bottom: 10px;
    font-size: 50px;
    color: var(--big-card-h1-color);
  }

  .githubButton {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content__right button {
    font-size: 20px;
    background-color: var(--button--bg-color);
    color: white;
    position: static;
    width: 50%;
    height: 45px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    align-self: center;

    &:hover {
      background-color: var(--button--bg-color-hover);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      margin-left: 1px;
    }

    &:active {
      background-color: var(--button--bg-color-active);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  .description {
    color: var(--big-card-p-color);
    margin-right: 20px;
    font-size: 24px;
    margin-bottom: 30px;
  }
