  .container__articles {
    padding: 2%;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    margin: 0 auto;
    height: 300px
  }

  .big-card {
    padding: 34px;
    background-color: var(--big-card-background-color);
    background-image: radial-gradient(circle, var(--body) 90%, var(--big-card-background-color) 100%);
    animation: fade-in 1s ease-in-out forwards;
  }

  .small-card {
    animation: fade-in 2s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
