<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="big-card">
    <app-big-card
      *ngIf="bigCardArticle"
      [id]="bigCardArticle.id"
      [title]="bigCardArticle.title"
      [description]="bigCardArticle.description"
      [cover]="bigCardArticle.cover"
      [alt]="bigCardArticle.title"
    ></app-big-card>
  </div>
	<div class="small-card">
    <app-small-card
      *ngFor="let article of smallCardArticles"
      [id]="article.id"
      [title]="article.title"
      [description]="article.description"
      [cover]="article.cover"
      [alt]="article.title"
    ></app-small-card>
  </div>
</div>
