.container__menu-bar{
	display: flex;
	width: 95vw;
	justify-content: center;
}

.container__menu-bar ul{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.container__menu-bar ul li{
	list-style: none;
}

.container__menu-bar ul li a{
	text-decoration: none;
	color: white;
}

.container__menu-bar ul li a:hover{
	color: #868686;
}

@media (max-width: 430px) {
	.container__menu-bar ul{
			gap: 10px;
			font-size: 15px;
	}
}

@media (max-width: 320px) {
	.container__menu-bar ul{
			gap: 5px;
			font-size: 12px;
	}
}

@media (max-width: 230px) {
	.container__menu-bar ul{
			gap: 3px;
			font-size: 10px;
	}
}

