.container__menu-bar ul{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.container__menu-bar ul li{
	list-style: none;
}

.container__menu-bar ul li a{
	text-decoration: none;
	color: white;
}

.container__menu-bar ul li a:hover{
	color: red;
}
