.container__menu-bar{
	display: flex;
	width: 95vw;
	justify-content: center;
}

.container__menu-bar ul{
	display: flex;
	flex-direction: row;
	gap: 30px;
	font-size: 24px;
}

.container__menu-bar ul li{
	list-style: none;
}

.container__menu-bar ul li a{
	text-decoration: none;
	color: white;
}

.container__menu-bar ul li a:hover{
	color: #868686;
}

@media (max-width: 593px) {
	.container__menu-bar ul{
			gap: 10px;
	}
}

@media (max-width: 480px) {
	.container__menu-bar ul{
			gap: 8px;
			font-size: 20px;
	}
}

@media (max-width: 400px) {
	.container__menu-bar ul{
			gap: 6px;
			font-size: 15px;
	}
}

