<div class="container__menu-bar">
	<ul>
		<li>
			<a href="https://www.linkedin.com/in/lidia-yamamura-88b606119/" target="_blank">Linkedin</a>
		</li>
		<li><span>•</span></li>
		<li>
			<a href="https://github.com/RinoaYK/angular-blog" target="_blank">Github</a>
		</li>
		<li><span>•</span></li>
		<li>
			<a href="https://www.deviantart.com/rinoayk" target="_blank">Devianart</a>
		</li>
		<li><span>•</span></li>
		<li>
			<a href="https://youtu.be/bn5Eq5p3-5g" target="_blank">Youtube</a>
		</li>
	</ul>
</div>
